<launch>
    <arg name="rviz" default="false" />
    <include file="$(find super_alex_study_pkg)/topics/3topic/turtlebot3_world.launch" />
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find super_alex_study_pkg)/rviz/sim_initial.rviz" />
</launch>